<div class="content">
  <h3>Yearly counts</h3>
  <table>
    <tr>
      <th>Year</th>
      <th>Count</th>
    </tr>
    {% for year, count in content.yearly_counts %}
    <tr>
      <td>{{ year }}</td>
      <td>{{ count }}</td>
    </tr>
    {% endfor %}  
  </table>
  
  <h3>Quaterly counts</h3>
  <table>
    <tr>
      <th>Quarter</th>
      <th>Count</th>
    </tr>
    {% for quarter, count in content.quarterly_counts %}
      <tr>
        <td>{{ quarter }}</td>
        <td>{{ count }}</td>
      </tr>
    {% endfor %}
  </table>

  <h3>Event Type counts</h3>
  <table>
    <tr>
      <th>Event Type</th>
      <th>Count</th>
    </tr>
    {% for type, count in content.type_counts %}
      <tr>
        <td>{{ type }}</td>
        <td>{{ count }}</td>
      </tr>
    {% endfor %}
  </table>

</div>